#
#  Synopsis:
#	Route blobs into other schemas based upon patterns in the byte prefix.
#  Description:
#	Blob may be routed to other schemas based upon values in the the
#	first 32 bytes of of the blob.  See the table setspace.byte_prefix_32.
#	Recipes may also assume that the core byte oriented setspace tables
#	have already been populated:
#
#		setspace.{byte_bitmap, byte_count, is_utf8}
#
#	Since most routing rules are immutable, the queries are highly
#	cacheable.  cool.
#
#  Usage:
#  	flowd server prefixio.conf
#  See:
#  	schema.sql
#

boot
{
	brr_capacity = 256;
	flow_worker_count = 32;

	#
	#  No processes are invoked
	#
	#  Note:
	#	Since no workers can we set to 0?
	#
	os_exec_worker_count = 1;
	os_exec_capacity = 1;

	xdr_roll_duration = "24h";
	fdr_roll_duration = "24h";
	qdr_roll_duration = "24h";

	heartbeat_duration = "10s";
}

sql database setspace
{
	driver_name = "postgres";
	data_source_name = "sslmode=disable";
	max_idle_conns = 1;
	max_open_conns = 16;
}

tail brr
{
	path = "spool/setspace.brr";
}

command append_pdfbox_brr
{
	path = "append-brr";
	argv = (
		"spool/pdfbox.brr"
	);
}

#
#  The prefix of blob matches '^%PDF'
#
sql query prefix_is_percentPDF row
{
	statement = `

	SELECT
		substring(prefix, 1, 4) = '\x25504446'	-- %PDF
	  from
	  	setspace.byte_prefix_32
	  where
	  	blob = $1::udig
	`;

	result row is (
		answer bool
	);

	database is setspace;
}

query prefix_is_percentPDF(brr.udig);

call append_pdfbox_brr(
	brr.start_time,
	brr.netflow,
	brr.verb,
	brr.udig,
	brr.chat_history,
	brr.blob_size,
	brr.wall_duration
) when
	prefix_is_percentPDF.answer == true
;
