#
#  Synopsis:
#	Profile for typical prefixio server
#  Usage:
#	. $SETSPACE_ROOT/etc/profile
#  Blame:
#  	jmscott@setspace.com
#
export TMPDIR=$SETSPACE_ROOT/schema/prefixio/tmp
mkdir -p $TMPDIR || exit 1

#  create the spool file so tail doesn't abort.
#  Note:
#	got to be a better way.  Prehaps flowd outgh to create.

touch $SETSPACE_ROOT/schema/prefixio/spool/setcore.brr || exit 1
