#
#  Synopsis:
#	Populate PostgreSQL schema for Fine Free File command facts
#  See:
#	schema.sql
#

boot
{
	brr_capacity = 16;
	flow_worker_count = 8;
	os_exec_worker_count = 4;
	os_exec_capacity = 4;

	xdr_roll_duration = "24h";
	fdr_roll_duration = "24h";
	qdr_roll_duration = "24h";

	heartbeat_duration = "10s";
}

sql database setspace
{
	driver_name = "postgres";
	data_source_name = "sslmode=disable";
	max_idle_conns = 0;
	max_open_conns = 8;
}

tail brr
{
	path = "spool/setspace.brr";
}

sql query in_service_table row
{
	statement = `

	SELECT EXISTS (
	  SELECT
	  	blob
	    FROM
	    	setspace.service
	    WHERE
	    	blob = $1::udig
	);
		
	`;

	result row is (
		answer bool
	);
}

query in_service_table(brr.udig);

sql query in_file_table row
{
	statement = `
	
	SELECT EXISTS (
	  SELECT
	  	blob
	    FROM
	    	fffile.file
	    WHERE
	    	blob = $1::udig
	)
	`;

	result row is (
		answer bool
	);
}

query in_file_table(brr.udig)
  when
  	in_service_table.answer == false
;
