#
#  Synopsis:
#	Configuration file read by make-dist to build tar files.
#  See:
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	Makefile variables can be extracted and defined from the the
#	root.dist file with these recipes.  Example make code follows:
#
#		DIST=product.dist
#
#		COMPILEs := $(shell  (. ./$(DIST) && echo $$COMPILEs))
#		SBINs := $(shell  (. ./$(DIST) && echo $$SBINs))
#		LIBs := $(shell  (. ./$(DIST) && echo $$LIBs))
#		SRCs := $(shell  (. ./$(DIST) && echo $$SRCs))
#		BINs := $(shell  (. ./$(DIST) && echo $$BINs))
#		HTDOCSs := $(shell  (. ./$(DIST) && echo $$HTDOCSs))
#		CGIBINs := $(shell  (. ./$(DIST) && echo $$CGIBINs))
#		LIBEXEC := $(shell  (. ./$(DIST) && echo $$LIBEXECs))
#

#  Uncomment to override default mappings of VARs to target directory
VAR2dir_local=(
	[LIBs]='lib/schema/pdfbox.d'
)

#
#  Uncomment for compiled programs to be installed in bin/ or sbin/ and
#  removed in "clean" recipes.
#
COMPILEs="
	pdfbox
"

LIBs="
	pdfbox.cgi
	pdfbox.d/a.mime.pl
	pdfbox.d/common.pl
	pdfbox.d/dl.extpg.pl
	pdfbox.d/dl.pddoc.pl
	pdfbox.d/dl.pdinfo.pl
	pdfbox.d/dl.pl
	pdfbox.d/help.pl
	pdfbox.d/iframe.pdf.pl
	pdfbox.d/input.mytitle.pl
	pdfbox.d/input.pl
	pdfbox.d/mime.pdf.pl
	pdfbox.d/post.mytitle.pl
	pdfbox.d/post.q.pl
	pdfbox.d/span.nav.pl
	pdfbox.d/table.exttsv.pl
	pdfbox.d/table.pl
	pdfbox.d/text.objdesc.pl
	pdfbox.d/utf8.pg1.pl
"

#  Uncoment to create bin/ directory
#BINs="
#"

SBINs="
"

#  Uncomment to create tmp/ directory
#TMP="
#"

#  Uncomment to create cgibin/ directory
CGIBINs="
	pdfbox
"

#  Uncomment to create htdocs/ directory
HTDOCSs="
	detail-tsv.shtml
	detail.shtml
	index.shtml
	nav.shtml
	schema.shtml
	screen.css
	title.shtml
"

#  Uncomment to create src/ directory
#SRCs="
#"

#  Uncomment to create attic/ directory
#ATTIC="
#"

#  Uncomment to create archive/ directory
#ARCHIVE="
#"

#  Uncomment to create etc/ directory
#ETC="
#"

#  Uncomment to create spool/ directory
#SPOOL="
#"

#  Uncomment to create data/ directory
#DATA="
#"

#  Uncomment to create run/ directory
#RUN="
#"

#  Uncomment to create log/ directory
#LOG="
#"

#  Uncomment to create cache/ directory
#CACHE="
#"

#  Uncomment to create directory libexec/
#LIBEXECs="
#"
