#
#  Synopsis:
#       Template apache2 vhost config for {www,dash,noc}.setspace...
#  Note:
#	Need to add variable for SSL_CERT_PATH.  The current path values
#	are for mac ports apache, which requires rewriting on various
#	linuces.
#
#	Perl needs DBD/Pg.pm in path.  Add /opt/local/bin for perl managed
#	by mac ports or /usr/local/bin for homebrew.
#

#  See https://github.com/jmscott/setspace
Define SETSPACE_DASH_ROOT /usr/local/setspace

#  See https://github.com/jmscott/blobio
Define SETSPACE_DASH_BLOBIO_ROOT /usr/local/blobio
Define SETSPACE_DASH_BLOBIO_SERVICE bio4:10.187.1.5:1797
Define SETSPACE_DASH_BLOBIO_GET_SERVICE bio4:10.187.1.5:1797

#  See https://github.com/jmscott/work
Define SETSPACE_DASH_JMSCOTT_ROOT /usr/local/jmscott

#
#  APACHE_SERVER_NAME and dns/ssl host is built as
#
#	${SETSPACE_DASH_DNS_VHOST_PREFIX}.setspace.${SETSPACE_DASH_DNS_VHOST_SUFFIX}
#
#  Current values of PREFIX can be "www", "dash", or "noc".  During development
#  may user a schema name like "pdfbox".
#
Define SETSPACE_DASH_DNS_VHOST_PREFIX dash
Define SETSPACE_DASH_DNS_VHOST_SUFFIX com

Define SETSPACE_DASH_PGHOME /usr/local/pgsql
#  Note: golang pg has issues with unix sockets as /tmp
Define SETSPACE_DASH_PGHOST 10.187.1.5
Define SETSPACE_DASH_PGPORT 5432
Define SETSPACE_DASH_PGUSER postgres
Define SETSPACE_DASH_PGDATABASE jmsdesk 

Define SETSPACE_DASH_PATH ${SETSPACE_DASH_ROOT}/bin:${SETSPACE_DASH_ROOT}/www/bin:${SETSPACE_DASH_PGHOME}/bin:${SETSPACE_DASH_BLOBIO_ROOT}/bin:${SETSPACE_DASH_JMSCOTT_ROOT}/bin:/usr/bin:/bin

#  probably no need to change remaining variables

Define SETSPACE_DASH_APACHE2_SERVER_NAME ${SETSPACE_DASH_DNS_VHOST_PREFIX}.setspace.${SETSPACE_DASH_DNS_VHOST_SUFFIX}
Define SETSPACE_DASH_WWW_ROOT ${SETSPACE_DASH_ROOT}/www
Define SETSPACE_DASH_VHOST_ROOT ${SETSPACE_DASH_ROOT}/www/vhost/${SETSPACE_DASH_APACHE2_SERVER_NAME}
Define SETSPACE_DASH_PERL5LIB ${SETSPACE_DASH_VHOST_ROOT}/lib:${SETSPACE_DASH_WWW_ROOT}/lib:${SETSPACE_DASH_JMSCOTT_ROOT}/www/lib

#  always encrypted
Define SETSPACE_DASH_APACHE2_SERVER_PORT 443

Define SETSPACE_DASH_BLOBIO_ALGORITHM btc20

#  Define on Mac OS/X under ports distro, which does not define
<IfDefine !APACHE_LOG_DIR>
	Define APACHE_LOG_DIR /opt/local/log
</IfDefine>

#
#  Synopsis:
#	Example development Apache2 configuration for setspace web gui.
#  Note:
#	See toolkit at https://github.com/jmscott/work/tree/master/httpd2
#	for reference in PERL5LIB to /usr/local/jmscott/httpd2/lib
#
#	Remember, VirtualHost directive is really
#
#		<virtualHost network-interface:port>
#
#	and not related to the server name seen by the public.
#
<VirtualHost ${SETSPACE_DASH_APACHE2_SERVER_NAME}:443>
        ServerName ${SETSPACE_DASH_APACHE2_SERVER_NAME}

	CustomLog ${APACHE_LOG_DIR}/${SETSPACE_DASH_APACHE2_SERVER_NAME}-access.log common
	ErrorLog ${APACHE_LOG_DIR}/${SETSPACE_DASH_APACHE2_SERVER_NAME}-error.log

	SetEnv SETSPACE_DASH_ROOT ${SETSPACE_DASH_ROOT}
	SetEnv SERVER_ROOT ${SETSPACE_DASH_VHOST_ROOT}
	<IfDefine !TMPDIR>
		SetEnv TMPDIR ${SETSPACE_DASH_VHOST_ROOT}/tmp
	</IfDefine>

	SetEnv PGHOST ${SETSPACE_DASH_PGHOST}
	SetEnv PGPORT ${SETSPACE_DASH_PGPORT}
	SetEnv PGUSER ${SETSPACE_DASH_PGUSER}
	<IfDefine SETSPACE_DASH_PGPASSWORD>
		SetEnv PGPASSWORD ${SETSPACE_DASH_PGPASSWORD}
	</IfDefine>
	SetEnv PGDATABASE ${SETSPACE_DASH_PGDATABASE}
	SetEnv LD_LIBRARY_PATH /usr/local/pgsql/lib

	SetEnv BLOBIO_SERVICE ${SETSPACE_DASH_BLOBIO_SERVICE}
	SetEnv BLOBIO_GET_SERVICE ${SETSPACE_DASH_BLOBIO_GET_SERVICE}
	SetEnv BLOBIO_ALGORITHM ${SETSPACE_DASH_BLOBIO_ALGORITHM}

	SetEnv JMSCOTT_ROOT ${SETSPACE_DASH_JMSCOTT_ROOT}

	SetEnv PATH ${SETSPACE_DASH_PATH}

	#  Note:See https://github.com/jmscott/work/tree/master/httpd2
	#
	SetEnv PERL5LIB ${SETSPACE_DASH_PERL5LIB}

	DocumentRoot "${SETSPACE_DASH_VHOST_ROOT}/htdocs"

	<Directory />
            AllowOverride all
            Require all granted
        </Directory>

	<Directory "${SETSPACE_DASH_VHOST_ROOT}">
		Options Indexes FollowSymLinks
		AllowOverride None
		Require all granted
	</Directory>

	DirectoryIndex index.shtml

	<Directory "${SETSPACE_DASH_VHOST_ROOT}/htdocs">
                Options +ExecCGI +Includes +FollowSymLinks

                AddType text/html .shtml
                AddOutputFilter INCLUDES .shtml

		AuthType Basic
		AuthName "${SETSPACE_DASH_APACHE2_SERVER_NAME}"
		AuthUserFile ${SETSPACE_DASH_VHOST_ROOT}/etc/passwd
		Require valid-user
	</Directory>

	ScriptAlias /cgi-bin/jmscott/ "${SETSPACE_DASH_JMSCOTT_ROOT}/www/cgi-bin/"
	ScriptAlias /cgi-bin/ "${SETSPACE_DASH_VHOST_ROOT}/cgi-bin/"

	<Directory "${SETSPACE_DASH_VHOST_ROOT}/cgi-bin">
                AllowOverride all
                Allow from all

                Options None +ExecCGI +Includes +FollowSymLinks

                AuthType Basic
                AuthName "Login ${SETSPACE_DASH_APACHE2_SERVER_NAME}"
                AuthBasicProvider file
		AuthUserFile ${SETSPACE_DASH_VHOST_ROOT}/etc/passwd
                Require valid-user
        </Directory>

	<Directory "${SETSPACE_DASH_JMSCOTT_ROOT}/www/cgi-bin">
                AllowOverride all
                Allow from all

                Options None +ExecCGI +Includes +FollowSymLinks

                AuthType Basic
                AuthName "Login ${SETSPACE_DASH_APACHE2_SERVER_NAME}"
                AuthBasicProvider file
		AuthUserFile ${SETSPACE_DASH_VHOST_ROOT}/etc/passwd
                Require valid-user
        </Directory>

	SSLEngine on
	SSLCertificateFile /etc/letsencrypt/live/dash.setspace.com/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/dash.setspace.com/privkey.pem
	UserDir public_html

</VirtualHost>

#
#  To automatically redirect port 80 to the https version of website
#  add
#
#	Define SETSPACE_DASH_REDIRECT_PORT80_TO_HTTPS 1
#
Define SETSPACE_DASH_REDIRECT_PORT80_TO_HTTPS 1

<IfDefine SETSPACE_DASH_REDIRECT_PORT80_TO_HTTPS>
<VirtualHost ${SETSPACE_DASH_APACHE2_SERVER_NAME}:80>
        ServerName ${SETSPACE_DASH_APACHE2_SERVER_NAME}
        Redirect permanent / https://${SETSPACE_DASH_APACHE2_SERVER_NAME}
</VirtualHost>
</IfDefine>
