#
#  Synopsis:
#	Configuration file read by make-dist to build tar files.
#  See:
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	Consider changing all explicit  reference var $JMSCOTT_ROOT in
#	SYMLINKs
#
#		SYMLINKs="
#			$JMSCOTT_ROOT/www/cgi-bin->cgi-bin/jmscott
#			$JMSCOTT_ROOT/www/lib->lib/jmscott
#		"
#
#	to link to single dir jmscott/, which itself is link to appropriate
#	$JMSCOTT_ROOT (typically /usr/local/jmscott).  In other words, the new
#	SYMLINKS becomes
#
#		SYMLINKs="
#			$JMSCOTT_ROOT->jmscott
#			jmscott/cgi-bin->cgi-bin/jmscott
#			jmscott/lib www/lib->lib/jmscott
#		"
#

VAR2dir_local=(
        [CGIBINs]='cgi-bin/schema'
        [HTDOCSs]='htdocs/schema'
)

#
#  Uncomment for compiled programs to be installed i bin/ or sbin/ and
#  removed in "clean" recipes.
#
#COMPILEs="
#"

LIBs="
	setspace-www-dash.dist
"

#  Uncoment to create bin/ directory
#BINs="
#"

SBINs="
"

#  Uncomment to create tmp/ directory
#TMP="
#"

#  required for symbolic link to cgi-bin/jmscott and lib/jmscott
CGIBINs="
"

#  Uncomment to create htdocs/ directory
HTDOCSs="
	env.shtml
	extra.shtml
	footer.shtml
	header.shtml
	index.shtml
	nav.shtml
	screen.css
	template.shtml
"

#  Uncomment to create src/ directory
#SRCs="
#"

#  Uncomment to create attic/ directory
#ATTIC="
#"

#  Uncomment to create archive/ directory
#ARCHIVE="
#"

#  Uncomment to create etc/ directory
#ETC="
#"

#  Uncomment to create spool/ directory
#SPOOL="
#"

#  Uncomment to create data/ directory
#DATA="
#"

#  Uncomment to create run/ directory
#RUN="
#"

#  Uncomment to create log/ directory
#LOG="
#"

#  Uncomment to create cache/ directory
#CACHE="
#"

#  Uncomment to create directory libexec/
#LIBEXECs="
#"

SYMLINKs="
	../../jmscott/www/cgi-bin->cgi-bin/jmscott
	../../jmscott/www/lib->lib/jmscott
	../../../htdocs/icon->htdocs/setspace
"
