#
#  Synopsis:
#	Example bash_login used during code development
#  Usage:
#	SETSPACE_ROOT=$HOME/opt/setspace
#	cd $SETSPACE_ROOT
#	sed "s@^SETSPACE_ROOT=.*@SETSPACE_ROOT=$SETSPACE_ROOT@" 	\
#				lib/bash_login.example >etc/bash_login
#	. etc/bash_login
#  See:
#	lib/profile.example
#
test -e /usr/local/jmscott/lib/bash_login.example			&&
	. /usr/local/jmscott/lib/bash_login.example
export SETSPACE_ROOT=${SETSPACE_ROOT:=/usr/local/setspace}

test -e 

cd $SETSPACE_ROOT || exit 1

#  clear out runtime variables and reset from $SETSPACE_ROOT/etc/profile

unset $(
	env								|
	egrep '^(PG|SETSPACE_|BLOBIO_)'					|
	grep -v '^SETSPACE_ROOT='					|
	cut -d= -f1
)
. etc/profile

export PSQLRC=$SETSPACE_ROOT/etc/psqlrc

echo;  run-stat-report;  echo
alias rr=run-stat-report

PS1="ss@$PGDATABASE@$(hostname | sed 's/\..*//')> "
