#
#  Synopsis:
#	Example bash_login used during code development
#  Usage:
#	SETSPACE_ROOT=$HOME/opt/setspace
#	cd $SETSPACE_ROOT
#	sed "s@^SETSPACE_ROOT=.*@SETSPACE_ROOT=$SETSPACE_ROOT@" 	\
#				lib/bash_login.example >etc/bash_login
#	. etc/bash_login
#  See:
#	lib/profile.example
#
export SETSPACE_ROOT=${SETSPACE_ROOT:=/usr/local/setspace}
export BLOBIO_ROOT=/usr/local/blobio

test -e 

cd $SETSPACE_ROOT || exit 1
PS1='sets@opt> '

#  colored cursor for terms with limited, garish color selection
#PS1='\e[45;1;37mset@opt>\e[0m '

#  clear out runtime variables and reset from $SETSPACE_ROOT/etc/profile

unset $(
	env								|
	egrep '^(PG|SETSPACE_)'						|
	grep -v '^SETSPACE_ROOT='					|
	cut -d= -f1
)
. etc/profile

#  force using untrusted service during development

unset BLOBIO_GET_SERVICE

#  prefered bash history defaults of jmscott.  change at will.

export HISTFILE=$SETSPACE_ROOT/.bash_history
export HISTSIZE=10000
export HISTFILESIZE=100000
HISTCONTROL=ignoreboth

export PSQLRC=$SETSPACE_ROOT/etc/psqlrc

echo;  run-stat-report;  echo
alias rr=run-stat-report
