#
#  Synopsis:
#	Example bash_login used during code development
#  Usage:
#	SETSPACE_ROOT=$HOME/opt/setspace
#	cd $SETSPACE_ROOT
#	sed "s@^SETSPACE_ROOT=.*@SETSPACE_ROOT=$SETSPACE_ROOT@" 	\
#				lib/bash_login.example >etc/bash_login
#	. etc/bash_login
#  See:
#	lib/profile.example
#
export SETSPACE_ROOT=$HOME/opt/setspace
export BLOBIO_ROOT=$HOME/opt/blobio

cd $SETSPACE_ROOT || exit 1
PS1='sets@opt> '

#  clear out runtime variables and reset from $SETSPACE_ROOT/etc/profile

unset $(
	env								|
	egrep '^(PG|SETSPACE_)'						|
	grep -v '^SETSPACE_ROOT='					|
	cut -d= -f1
)
. etc/profile

#  prefered bash history defaults of jmscott.  change at will.

export HISTFILE=$SETSPACE_ROOT/.bash_history
export HISTSIZE=10000
export HISTFILESIZE=100000
HISTCONTROL=ignoreboth
