SETSPACE_ROOT=/usr/local/setspace

#
#  What:
#	Snapshot crontab to $HOME/etc/crontab.conf
#  When:
#	2:56am, every night
#
56 2 * * * crontab -l >etc/crontab.conf

#  What:
#	Reboot flowd processes
#  When:
#	OS System revoot
#
@reboot sleep 10; $SETSPACE_ROOT/sbin/cron-reboot >>$SETSPACE_ROOT/log/cron-reboot.log 2>&1

#
#  What:
#	"Get" blobs discovered within a week and with known unknown facts.
#  When:
#	Every minute
#
* * * * * $SETSPACE_ROOT/sbin/cron-rummy '1 week' >>$SETSPACE_ROOT/log/cron-rummy.log 2>&1
