SETSPACE_ROOT=/usr/local/setspace

#
#  What:
#	Snapshot crontab to $HOME/etc/crontab.conf
#  When:
#	2:56am, every night
#
56 2 * * * crontab -l >etc/crontab.conf

#  What:
#	Reboot setpsace process (flowd)
#  When:
#	OS System revoot
#
@reboot sleep 10; $SETSPACE_ROOT/sbin/cron-reboot >>$SETSPACE_ROOT/log/cron-reboot.log 2>&1

#
#  What:
#	Snapshot crontab to etc/ directory
#  When:
#	12:53am, every night
#
53 0 * * * crontab -l >$SETSPACE_ROOT/etc/crontab.conf
