<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple/DTD PLIST 1.0/EN" "http:/www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Usage:
	sed 's/REPLACE_WITH_SCHEMA/pdfbox/g'
	edit
		<key>UserName</key>
		<key>GroupName</key>
		<key>WorkingDirectory</key>
-->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>SPACE.setspace.schema.REPLACE_WITH_SCHEMA.flowd</string>

  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <!--
  	Only define env SETSPACE_ROOT.  All other env vars defined in
	
		$SETSPACE_ROOT./etc/profile
		$SETSPACE_ROOT/schema/etc/REPLACE_WITH_SCHEMA/etc/profile
  -->
  <key>EnvironmentVariables</key>
  <dict>
  	<key>SETSPACE_ROOT</key>
	<string>/usr/local/setspace</string>
  </dict>

  <key>ProgramArguments</key>
  <array>
  	<string>/usr/local/jmscott/sbin/launchd-log</string>
	<string>/usr/local/setspace/sbin/start-flowd</string>
	<string>REPLACE_WITH_SCHEMA</string>
  </array>

  <key>Disabled</key>
  <false/>

  <key>UserName</key>
  <string>setspace</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/setspace/schema/REPLACE_WITH_SCHEMA</string>

  <key>StandardErrorPath</key>
  <string>/usr/local/setspace/schema/REPLACE_WITH_SCHEMA/log/launchd-flowd.log</string>

  <key>StandardOutPath</key>
  <string>/usr/local/setspace/schema/REPLACE_WITH_SCHEMA/log/launchd-flowd.log</string>

</dict>
</plist>
