#
#  Synopsis:
#	Makefile template for typical Mac OSX >= 10.6 development environment
#  Usage:
#	cp local-linux.mk.example local.mk
#	#  edit local.mk
#	make world
#  Variables:
#	INSTALL_PREFIX		#  parent directory where setspace/ is installed
#	PDFBOX_APP2_JAR		#  jar file for pdfbox app
#	PGHOME			#  root of postgresql distro
#	GODIST			#  golang distobution
#  Note:
#	Need to rename example local-*.example with os and arch..
#
#	Add comment about why GODIST is set.
#

########################  BEGIN SECTION OF VARIABLES TO CHANGE
#

INSTALL_PREFIX?=/usr/local
#INSTALL_PREFIX?=$(HOME)/opt

#  location of pdfbox jar file, version 2
#
#  Note: be carefull installing underneath $(INSTALL_PREFIX),
#        since a 'make distclean' will remove the jar file.
#
PDFBOX_APP2_JAR?=/usr/local/lib/pdfbox-app-2.jar

#  Where postgres distro lives
PGHOME?=/usr/local/pgsql

#  Location of go language distribution.

GODIST?=/usr/local/go

########################  END SECTION OF VARIABLES TO CHANGE
