#
#  Synopsis:
#	Example of a GNU Makefile template for typical Linux 2.6 distro.
#  Note:
#	The execution PATH must include the PostgreSQL C precompile 'ecpg'
#	for schema/drblob.  See schema/drblob/Makefile.
#

########################  BEGIN SECTION OF VARIABLES TO CHANGE

#  during development change to dir in $HOME, like $(HOME)/opt/setspace
INSTALL_PREFIX=/usr/local

SETSPACE_PREFIX=$(INSTALL_PREFIX)/setspace

#  during development change to your user or group id
SETSPACE_USER=setspace
SETSPACE_GROUP=setspace

#  where are postgres includes & libraries?
PGHOME=/usr/local/pgsql
PGINC=$(PGHOME)/include
PGLIB=$(PGHOME)/lib

#  The execution PATH must include the PostgreSQL C precompiler 'ecpg'.
PATH:=$(PGHOME)/bin:$(PATH)

#  strict compilation of C code
CFLAGS=-Wall -Wextra -Werror

#  location of pdfbox jar file, version 2
#
#  Note: be carefull installing underneath $(INSTALL_PREFIX),
#        since a 'make distclean' will remove the jar file.
#
PDFBOX_APP2_JAR:=/usr/local/lib/pdfbox-app-2.jar

########################  END SECTION OF VARIABLES TO CHANGE
