#
#  Synopsis:
#	Makefile template for typical Mac OSX >= 10.6 development environment
#  Blame:
#	https://github.com/jmscott
#

########################  BEGIN SECTION OF VARIABLES TO CHANGE

#  in dev environment overide to $(HOME)/local or $(HOME)/opt
INSTALL_PREFIX=/usr/local

SETSPACE_PREFIX:=$(INSTALL_PREFIX)/setspace
SETSPACE_USER:=$(USER)
SETSPACE_GROUP:=staff

#  where are postgres 9.5+ includes & libraries?
PGHOME=/usr/local/pgsql
PGINC=$(PGHOME)/include
PGLIB=$(PGHOME)/lib

#  The execution PATH must include the PostgreSQL C precompiler 'ecpg'.
PATH:=$(PGHOME)/bin:$(PATH)

#  location of pdfbox jar file, version 2
#
#  Note: be carefull installing underneath $(INSTALL_PREFIX),
#        since a 'make distclean' will remove the jar file.
#
PDFBOX_APP2_JAR:=/usr/local/lib/pdfbox-app-2.jar

#  strict compilation of C code.
#  Note: best not to change under gnu or clang compilers.
CFLAGS=-Wall -Wextra -Werror

#  Location of go language distribution

GODIST=/usr/local/go

########################  END SECTION OF VARIABLES TO CHANGE
