#
#  Synopsis:
#	Profile for typical setspace server
#  Usage:
#	. $SETSPACE_ROOT/etc/profile
#  Blame:
#  	jmscott@setspace.com
#  	setspace@gmail.com
#
export SETSPACE_ROOT=${SETSPACE_ROOT:=/usr/local/setspace}

export BLOBIO_ROOT=${BLOBIO_ROOT:=/usr/local/blobio}
export BLOBIO_SERVICE=${BLOBIO_SERVICE:=bio4:localhost:1797}
export BLOBIO_RO_SERVICE=${BLOBIO_RO_SERVICE:=rofs:$BLOBIO_ROOT}
export BLOBIO_ALGORITHM=${BLOBIO_ALGORITHM:=sha}

#  set postgresql variables

export PGHOME=${PGHOME:=/usr/local/pgsql}
export PGDATA=${PGDATA:=$PGHOME/data}
export PGHOST=${PGHOST:=/tmp}
export PGPORT=${PGPORT:=5432}
export PGUSER=${PGUSER:=postgres}
export PGPASSWORD=${PGPASSWORD:=}
export PGDATABASE=${PGDATABASE:=setspace}

#  golang libpq gripes about PGSYSCONFDIR
unset PGSYSCONFDIR

PATH=$SETSPACE_ROOT/bin:$SETSPACE_ROOT/sbin:$BLOBIO_ROOT/bin:$PGHOME/bin:/usr/local/bin:/usr/bin:/bin:$PATH

#  blobio service rofs needs tmp/ owned by caller, to remove hard links

export TMPDIR=$SETSPACE_ROOT/tmp
if [ ! -e $TMPDIR ];  then
	mkdir -p $TMPDIR/tmp || exit 1
fi
