#
#  Synopsis:
#	Global profile for typical setspace server: $SETSPACE_ROOT/etc/profile
#  See:
#	SETSPACE_ROOT/bin/launchd-
#	tools in JMSCOTT_ROOT @	https://github.com/jmscott/work
#
export JMSCOTT_ROOT=/usr/local/jmscott
PATH=$JMSCOTT_ROOT/bin:/bin:/usr/bin

export SETSPACE_ROOT=${SETSPACE_ROOT=/usr/local/setspace}

export BLOBIO_ROOT=/usr/local/blobio
export BLOBIO_SERVICE=bio4:localhost:1797
export BLOBIO_GET_SERVICE=fs:$BLOBIO_ROOT
export BLOBIO_ALGORITHM=btc20
PATH=$PATH:$BLOBIO_ROOT/bin

#  set postgresql variables

export PGHOME=/usr/local/pgsql
export PGDATA=$PGHOME/data
export PGHOST=/tmp
export PGPORT=5432
export PGUSER=postgres
export PGPASSWORD=
export PGDATABASE=$USER
PATH=$PATH:$PGHOME/bin
export LD_LIBRARY_PATH=$PGHOME/lib:$LD_LIBRARY_PATH

#  golang libpq gripes about PGSYSCONFDIR
unset PGSYSCONFDIR

PATH=$SETSPACE_ROOT/bin:$SETSPACE_ROOT/sbin:$PATH
