#
#  Synopsis:
#	Configuration file read by make-dist to build tar files.
#  See:
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	Makefile variables can be extracted and defined from the the
#	root.dist file with these recipes.  Example make code follows:
#
#		DIST=product.dist
#
#		SBINs := $(shell  (. ./$(DIST) && echo $$SBINs))
#		LIBs := $(shell  (. ./$(DIST) && echo $$LIBs))
#		SRCs := $(shell  (. ./$(DIST) && echo $$SRCs))
#		BINs := $(shell  (. ./$(DIST) && echo $$BINs))
#		HTDOCs := $(shell  (. ./$(DIST) && echo $$HTDOCs))
#		CGIBINs := $(shell  (. ./$(DIST) && echo $$CGIBINs))
#		LIBEXEC := $(shell  (. ./$(DIST) && echo $$LIBEXECs))
#		COMPILEs := $(shell  (. ./$(DIST) && echo $$COMPILEs))
#

#  Define PRODUCT to change name of tar file from $(basename $(pwd))
#  to, say, foobar-YYYYMMDD_hhmm.tar.bz2

#PRODUCT=foobar

#
#  Uncomment for compiled programs to be installed i bin/ or sbin/ and
#  removed in "clean" recipes.
#
COMPILEs="
	append-brr
	dec2pgbit
	escape-json-utf8
	file-stat-size
	flip-tail
	is-utf8wf
	spin-wait-blob
	tas-run-lock
	tas-run-unlock
"

LIBs="
	bash_login.example
	crontab.conf.example
	launchd-flowd.plist.example
	profile.example
	setspace.dist
	systemd-flowd.service.example
"

#  Note: move these to SBINs!
BINs="
	$COMPILEs
"

SBINs="
	SETSPACE_ROOT-bash						\
	brr-flip							\
	brr-flip-all							\
	brr-stat							\
	cron-rummy							\
	dec2pgbit							\
	find-brr							\
	find-rolled-brr							\
	find-schema							\
	flip-tail							\
	flowd-stat							\
	launchd-flowd							\
	ls-start-flowd							\
	restart-all-flowd						\
	restart-flowd							\
	rummy								\
	run-stat-flowd-tuple						\
	run-stat-report							\
	run-stat-tuple							\
	ssctl								\
	start-all-flowd							\
	start-flowd							\
	stop-all-flowd							\
	stop-flowd							\
	tail-flowd							\
	tas-run-lock							\
	tas-run-unlock
"

#  Uncomment to create tmp/ directory
#TMP="
#"

#  Uncomment to create cgibin/ directory
#CGIBINs="
#"

#  Uncomment to create htdocs/ directory
#HTDOCs="
#"

#  Uncomment to create src/ directory
SRCs="
	Makefile							\
	append-brr.c							\
	common-ecpg.c							\
	common.c							\
	dec2pgbit.c							\
	escape-json-utf8.c						\
	file-stat-size.c						\
	flip-tail.c							\
	is-utf8wf.c							\
	local-linux.mk.example						\
	local-darwin.mk.example						\
	macosx.c							\
	spin-wait-blob.pgc						\
	tas-run-lock.c							\
	tas-run-unlock.c
"

#  Uncomment to create attic/ directory
#ATTIC="
#"

#  Uncomment to create archive/ directory
#ARCHIVE="
#"

#  Uncomment to create etc/ directory
#ETC="
#"

#  Uncomment to create spool/ directory
#SPOOL="
#"

#  Uncomment to create data/ directory
#DATA="
#"

#  Uncomment to create run/ directory
#RUN="
#"

#  Uncomment to create log/ directory
#LOG="
#"

#  Uncomment to create cache/ directory
#CACHE="
#"

#  Uncomment to create directory libexec/
#LIBEXECs="
#"
