#
#  Synopsis:
#	Route blobs to schemas based upon patterns in a json blob.
#  Usage:
#  	flowd server jsonio.conf
#  See:
#  	schema.sql
#

boot
{
	brr_capacity = 256;
	flow_worker_count = 32;

	#
	#  No processes are invoked
	#
	#  Note:
	#	Since no workers can we set to 0?
	#
	os_exec_worker_count = 1;
	os_exec_capacity = 1;

	xdr_roll_duration = "24h";
	fdr_roll_duration = "24h";
	qdr_roll_duration = "24h";

	heartbeat_duration = "10s";
}

sql database setspace
{
	driver_name = "postgres";
	data_source_name =
		"fallback_application_name=jsonio.flow sslmode=disable";
	max_idle_conns = 0;
	max_open_conns = 16;
}

tail brr
{
	path = "spool/jsonorg.brr";
}

sql query is_curl7 row
{
	statement = `
SELECT EXISTS (
  SELECT
  	blob
    FROM
	jsonorg.jsonb_255 j
    WHERE
    	j.blob = $1
	AND
	j.doc->'schema.setspace.com' = 'mycore.schema.setspace.com' 
)
	`;
	result row is (
		answer bool
	);
}
