#
#  Synopsis:
#	Populate the PostgreSQL schema defined in schema.sql
#  See:
#	schema.sql
#  Note:
#	Note verifying the json blob is in table setspace.service!!!
#
#	Investigate if the first two characters of a json document are
#	always ascii:
#
#		http://www.ietf.org/rfc/rfc4627.txt
#
#	Is the same true for the last two chars?
#

boot
{
	brr_capacity = 256;
	flow_worker_count = 16;
	os_exec_worker_count = 12;
	os_exec_capacity = 12;

	xdr_roll_duration = "24h";
	fdr_roll_duration = "24h";
	qdr_roll_duration = "24h";

	heartbeat_duration = "10s";
}

sql database setspace
{
	driver_name = "postgres";
	data_source_name =
		"fallback_application_name=jsonorg.flow sslmode=disable";
	max_idle_conns = 0;
	max_open_conns = 8;
}

tail brr
{
	path = "spool/setspace.brr";
}

sql query is_in_checker_255_table row
{
	statement = `

	 SELECT
	  exists (
	    select
	    	blob
	      from
	      	jsonorg.checker_255
	      where
	      	blob = $1::udig
	  ),
	  (SELECT
	    	is_json
	    from
	      	jsonorg.checker_255
	      where
	      	blob = $1::udig
	  )
	;`;
	result row is (
		answer bool,
		is_json bool
	);
}

command brr_has_size
{
	path = "true";
}

call brr_has_size()
  when
  (
	brr.verb == "get"
	and
	brr.chat_history == "ok"
  )
  or
  (
	brr.verb == "put"
	and
	brr.chat_history == "ok,ok"
  )
  or
  (
	brr.verb == "give"
	and
	brr.chat_history == "ok,ok,ok"
  )
;

query is_in_checker_255_table(brr.udig);

command get_JSON_checker
{
	path = "sbin/get-JSON_checker";
	exit_status is OK when in {
		0,	#  is valid json
		1,	#  is not valid json
		2,	#  blob does not exist
		3,	#  wrong number of command line arguments
		4	#  blobio | JSON_checker failed
	};
}

call get_JSON_checker (brr.udig)
  when
  	is_in_checker_255_table.answer == false
;

#
#  Merge the tuple into the table jsonorg.checker_255
#
sql query merge_checker_255 row
{
	statement = `

	INSERT into jsonorg.checker_255 (
		blob,
		is_json
	  ) SELECT
		$1::udig,
		case $2 
	  		when '0' then true
	  		when '1' then false
		end
  	  ON CONFLICT
  		do nothing
	  RETURNING
	  	is_json
	;

	`;

	result row is (
		is_json bool
	);
}

query merge_checker_255 (brr.udig, get_JSON_checker.exit_status)
  when
  	get_JSON_checker.exit_status == 0
	or
  	get_JSON_checker.exit_status == 1
;

sql query in_jsonb_255_table row
{
	statement = `

	SELECT EXISTS (
	  SELECT
	  	blob
	    FROM
	    	jsonorg.jsonb_255
	    WHERE
	    	blob = $1::udig
	);`;

	result row is (
		answer bool
	);
}

query in_jsonb_255_table (brr.udig)
  when
  	is_in_checker_255_table.is_json == true
	or
	merge_checker_255.is_json == true
;

command merge_jsonb_255
{
	path = "sbin/merge-jsonb_255";
}

call merge_jsonb_255 (brr.udig, brr.blob_size)
  when
  	in_jsonb_255_table.answer == false
	and
	brr_has_size.exit_status == 0
;
