{
	"synopsis":		"PDFBox (version 2) Schema for SetSpace",
	"http-listen":		":8080",
	"rest-path-prefix":	"/pdfbox2",

	"sql-query-set": {
		"pdfq-phrase": {
			"source-path":	"pdfq-phrase.sql"
		}
	},
	"http-query-arg-set": {
		"q": {
			"sql-alias": "phrase"
		},
		"tsc": {
			"default": "english",
			"sql-alias": "ts_conf"
		},
		"limit": {
			"default": "10",
			"matches": "^(?:10|100|1000)$",
			"sql-alias": "limit"
		},
		"offset": {
			"default": "0",
			"sql-alias": "offset"
		}
	},
	"warn-slow-sql-query-duration": 5
}
