#
#  Synopsis:
#	Profile for typical pdfbox2 server
#  Usage:
#	. $SETSPACE_ROOT/schema/pdfbox2/etc/profile
#  Note:
#	Contemplate replacing env variable SCHEMA_ROOT with SETSPACE_SCHEMA
#
SCHEMA_ROOT=$SETSPACE_ROOT/schema/pdfbox2
export TMPDIR=$SCHEMA_ROOT/tmp

export PDFBOX2_ROOT=${PDFBOX2_ROOT:=$SCHEMA_ROOT}

#  create the spool file so tail doesn't abort.
#  Note: got to be a better way. perhaps flowd.tail ought to create the file.
touch $SCHEMA_ROOT/spool/prefixio.brr
chmod u=rw,g=w,o= $SCHEMA_ROOT/spool/prefixio.brr

PATH=$SCHEMA_ROOT/sbin:$SCHEMA_ROOT/bin:$PATH

export PDFBOX2_JAR=${PDFBOX2_JAR:=/usr/local/lib/pdfbox-app-2.jar}
export CLASSPATH=${CLASSPATH:=lib:$PDFBOX2_JAR}
export BLOBIO_SERVICE=${BLOBIO_SERVICE:=localhost:1797}
export BLOBIO_ALGORITHM=${BLOBIO_ALGORITHM:=sha}
