#!/bin/bash
#
#  Synopsis:
#	Profile for typical fffile5 flowd, using version 5 file.
#  Usage:
#	Sourced from $SETSPACE_ROOT/sbin/{launchd,systemd,boot-flowd}
#  Environment:
#	#  where the "Famous Fine File" command lives
#	#  must be the canonical version from the author.
#	FFFILE5_DIST=/opt/fffile5
#	#FFFILE5_DIST=/usr/local/setspace/schema/fffile5/opt/file
#
#	#  be sure NOT to invoke the OS version!
#	PATH="$FFFILE5_DIST/bin:$PATH"
#  See:
#	https://github.com/file/file
#	$SETSPACE_ROOT/schema/fffile5/sbin/launchd-flowd-init
#	$SETSPACE_ROOT/sbin/launchd-flowd
#	$SETSPACE_ROOT/sbin/systemd-flowd
#	$SETSPACE_ROOT/sbin/boot-flowd
#

#FFFILE5_DIST=/usr/local/setspace/schema/fffile5/opt
export FFFILE5_DIST=$HOME/opt/fffile5
export LD_LIBRARY_PATH=$FFFILE5_DIST/lib:$PGHOME/bin:$LD_LIBRARY_PATH

unset MAGIC		#  just in case.  see man page for "file"

SCHEMA_ROOT=$SETSPACE_ROOT/schema/fffile5

export TMPDIR=$(pwd)/tmp
PATH=$FFFILE5_DIST/bin:$SCHEMA_ROOT/sbin:$SCHEMA_ROOT/bin:$PATH

return 0;
