#
#  Synopsis:
#	Configuration file read by make-dist to build tar files.
#  See:
#	https://github.com/jmscott/work/blob/master/make-dist
#  Note:
#	Makefile variables can be extracted and defined from the the
#	root.dist file with these recipes.  Example make code follows:
#
#		DIST=product.dist
#
#		SBINs := $(shell  (. ./$(DIST) && echo $$SBINs))
#		LIBs := $(shell  (. ./$(DIST) && echo $$LIBs))
#		SRCs := $(shell  (. ./$(DIST) && echo $$SRCs))
#		BINs := $(shell  (. ./$(DIST) && echo $$BINs))
#		HTDOCs := $(shell  (. ./$(DIST) && echo $$HTDOCs))
#		CGIBINs := $(shell  (. ./$(DIST) && echo $$CGIBINs))
#		LIBEXEC := $(shell  (. ./$(DIST) && echo $$LIBEXECs))
#		COMPILEs := $(shell  (. ./$(DIST) && echo $$COMPILEs))
#

#  Define PRODUCT to change name of tar file from $(basename $(pwd))
#  to, say, foobar-YYYYMMDD_hhmm.tar.bz2

#PRODUCT=foobar

#
#  Uncomment for compiled programs to be installed i bin/ or sbin/ and
#  removed in "clean" recipes.
#
COMPILEs="
	merge-stdin-file
	merge-stdin-file_mime_encoding
	merge-stdin-file_mime_type
"

LIBs="
	fffile5.flow.example
	profile.example
	psqlrc.example
	rummy.sql
	schema.sql
	setspace-schema-fffile5.dist
"

#  Uncoment to create bin/ directory
#BINs="
#"

SBINs="
	$COMPILEs
	launchd-flowd-init
	merge-file
	merge-file_mime_encoding
	merge-file_mime_type
"

#  Uncomment to create tmp/ directory
#TMP="
#"

#  Uncomment to create cgibin/ directory
#CGIBINs="
#"

#  Uncomment to create htdocs/ directory
#HTDOCs="
#"

#  Uncomment to create src/ directory
SRCs="
	merge-stdin-file.pgc
	merge-stdin-file_mime_encoding.pgc
"

#  Uncomment to create attic/ directory
#ATTIC="
#"

#  Uncomment to create archive/ directory
#ARCHIVE="
#"

#  Uncomment to create etc/ directory
#ETC="
#"

#  Uncomment to create spool/ directory
#SPOOL="
#"

#  Uncomment to create data/ directory
#DATA="
#"

#  Uncomment to create run/ directory
#RUN="
#"

#  Uncomment to create log/ directory
#LOG="
#"

#  Uncomment to create cache/ directory
#CACHE="
#"

#  Uncomment to create directory libexec/
#LIBEXECs="
#"
