#
#  Synopsis:
#       Template apache2 vhost config for {www,dash,noc}.setspace...
#

#  See https://github.com/jmscott/setspace
Define SETSPACE_ROOT /usr/local/setspace

#  See https://github.com/jmscott/blobio
Define SETSPACE_BLOBIO_ROOT /usr/local/blobio
Define SETSPACE_BLOBIO_SERVICE bio4:127.0.0.1:1797

#  See https://github.com/jmscott/work
Define SETSPACE_JMSCOTT_ROOT /usr/local/jmscott

#
#  APACHE_SERVER_NAME and dns/ssl host is built as
#
#	${SETSPACE_DNS_VHOST_PREFIX}.setspace.${SETSPACE_DNS_VHOST_SUFFIX}
#
#  Current values of PREFIX can be "www", "dash", or "noc".  During development
#  may user a schema name like "pdfbox".
#
Define SETSPACE_DNS_VHOST_PREFIX www
Define SETSPACE_DNS_VHOST_SUFFIX com

Define SETSPACE_PGHOME /usr/local/pgsql
#  Note: golang pg has issues with unix sockets as /tmp
Define SETSPACE_PGHOST 127.0.0.1
Define SETSPACE_PGPORT 5432
Define SETSPACE_PGUSER postgres
Define SETSPACE_PGDATABASE setspace 

#  probably no need to change remaining

Define SETSPACE_PATH ${SETSPACE_PGHOME}/bin:${SETSPACE_BLOBIO_ROOT}/bin:/usr/bin:/bin

Define SETSPACE_APACHE2_SERVER_NAME ${SETSPACE_DNS_VHOST_PREFIX}.setspace.${SETSPACE_DNS_VHOST_SUFFIX}
Define SETSPACE_WWW_ROOT ${SETSPACE_ROOT}/www
Define SETSPACE_VHOST_ROOT ${SETSPACE_ROOT}/www/vhost/${SETSPACE_APACHE2_SERVER_NAME}
Define SETSPACE_PERL5LIB ${SETSPACE_VHOST_ROOT}/lib:${SETSPACE_WWW_ROOT}:${SETSPACE_JMSCOTT_ROOT}/www/lib

#  always encrypted
Define SETSPACE_APACHE2_SERVER_PORT 443

Define SETSPACE_BLOBIO_GET_SERVICE fs:${SETSPACE_BLOBIO_ROOT}
Define SETSPACE_BLOBIO_ALGORITHM bc160

#  Define on Mac OS/X under ports distro, which does not define
<IfDefine !APACHE_LOG_DIR>
	Define APACHE_LOG_DIR /opt/local/log
</IfDefine>

#
#  Synopsis:
#	Example development Apache2 configuration for setspace web gui.
#  Note:
#	See toolkit at https://github.com/jmscott/work/tree/master/httpd2
#	for reference in PERL5LIB to /usr/local/jmscott/httpd2/lib
#
Listen ${SETSPACE_APACHE2_SERVER_PORT}
<VirtualHost ${SETSPACE_APACHE2_SERVER_NAME}:${SETSPACE_APACHE2_SERVER_PORT}>
        ServerName ${SETSPACE_APACHE2_SERVER_NAME}

	CustomLog ${APACHE_LOG_DIR}/${SETSPACE_APACHE2_SERVER_NAME}-access.log common
	ErrorLog ${APACHE_LOG_DIR}/${SETSPACE_APACHE2_SERVER_NAME}-error.log

	SetEnv SETSPACE_ROOT ${SETSPACE_ROOT}
	SetEnv SERVER_ROOT ${SETSPACE_VHOST_ROOT}

	SetEnv PGHOST ${SETSPACE_PGHOST}
	SetEnv PGPORT ${SETSPACE_PGPORT}
	SetEnv PGUSER ${SETSPACE_PGUSER}
	<IfDefine SETSPACE_PGPASSWORD>
		SetEnv PGPASSWORD ${SETSPACE_PGPASSWORD}
	</IfDefine>
	SetEnv PGDATABASE ${SETSPACE_PGDATABASE}

	SetEnv BLOBIO_SERVICE ${SETSPACE_BLOBIO_SERVICE}
	SetEnv BLOBIO_GET_SERVICE ${SETSPACE_BLOBIO_GET_SERVICE}
	SetEnv BLOBIO_ALGORITHM ${SETSPACE_BLOBIO_ALGORITHM}

	SetEnv JMSCOTT_ROOT ${SETSPACE_JMSCOTT_ROOT}

	SetEnv PATH ${SETSPACE_PATH}

	#  Note:See https://github.com/jmscott/work/tree/master/httpd2
	#
	SetEnv PERL5LIB ${SETSPACE_PERL5LIB}

	DocumentRoot "${SETSPACE_VHOST_ROOT}/htdocs"


	<Directory />
            AllowOverride all
            Require all granted
        </Directory>

	<Directory "${SETSPACE_VHOST_ROOT}">
		Options Indexes FollowSymLinks
		AllowOverride None
		Require all granted
	</Directory>

	DirectoryIndex index.shtml

	<Directory "${SETSPACE_VHOST_ROOT}/htdocs">
                Options +ExecCGI +Includes +FollowSymLinks

                AddType text/html .shtml
                AddOutputFilter INCLUDES .shtml

		AuthType Basic
		AuthName "${SETSPACE_APACHE2_SERVER_NAME}"
		AuthUserFile ${SETSPACE_VHOST_ROOT}/etc/passwd
		Require valid-user
	</Directory>

	ScriptAlias /cgi-bin/jmscott/ "${SETSPACE_JMSCOTT_ROOT}/www/cgi-bin/"
	ScriptAlias /cgi-bin/ "${SETSPACE_VHOST_ROOT}/cgi-bin/"

	<Directory "${SETSPACE_VHOST_ROOT}/cgi-bin">
                AllowOverride all
                Allow from all

                Options None +ExecCGI +Includes +FollowSymLinks

                AuthType Basic
                AuthName "Login ${SETSPACE_APACHE2_SERVER_NAME}"
                AuthBasicProvider file
		AuthUserFile ${SETSPACE_VHOST_ROOT}/etc/passwd
                Require valid-user
        </Directory>

	<Directory "${SETSPACE_JMSCOTT_ROOT}/www/cgi-bin">
                AllowOverride all
                Allow from all

                Options None +ExecCGI +Includes +FollowSymLinks

                AuthType Basic
                AuthName "Login ${SETSPACE_APACHE2_SERVER_NAME}"
                AuthBasicProvider file
		AuthUserFile ${SETSPACE_VHOST_ROOT}/etc/passwd
                Require valid-user
        </Directory>

	#  openssl genrsa -out ca.key 1024
	#  openssl req -new -key ca.key -out ca.csr
	#  openssl x509 -req -days 365 -in ca.csr -signkey ca.key -out ca.crt

	SSLEngine on
	SSLCertificateFile etc/apache2/extra/${SETSPACE_APACHE2_SERVER_NAME}.crt
	SSLCertificateKeyFile etc/apache2/extra/${SETSPACE_APACHE2_SERVER_NAME}.key

</VirtualHost>

#
#  To automatically redirect port 80 to the https version of website
#  add
#
#	Define SETSPACE_REDIRECT_PORT80_TO_HTTPS 1
#

<IfDefine SETSPACE_REDIRECT_PORT80_TO_HTTPS>
Listen ${SETSPACE_APACHE2_SERVER_NAME}:80
<VirtualHost ${SETSPACE_APACHE2_SERVER_NAME}:80>
        ServerName ${SETSPACE_APACHE2_SERVER_NAME}
        Redirect permanent / https://${SETSPACE_APACHE2_SERVER_NAME}
</VirtualHost>
</IfDefine>
