#
#  Synopsis:
#       Apache2 Site specific configuration for zoi web gui
#

#  ${APACHE2_SERVER_NAME}, $APACHE2_SERVER_PORT}

Define SETSPACE_WWW_APACHE2_SERVER_NAME www.setspace.com
Define SETSPACE_WWW_APACHE2_SERVER_PORT 443

#  Export SETSPACE_WWW_ROOT to CGI process environment
Define SETSPACE_WWW_ROOT /usr/local/setspace
Define SETSPACE_WWW_VHOST_ROOT /usr/local/setspace/www/vhost/www.setspace.com

Define SETSPACE_WWW_PATH /usr/bin:/bin:/usr/sbin:/sbin

#  Define on Mac OS/X under ports distro, which does not define
<IfDefine !APACHE_LOG_DIR>
        Define APACHE_LOG_DIR /var/log/httpd
</IfDefine>

#
#  To automatically redirect port 80 to the https version of website
#  add
#
#	Define SETSPACE_WWW_REDIRECT_PORT80_TO_HTTPS 1
#
Define SETSPACE_WWW_REDIRECT_PORT80_TO_HTTPS 1

<IfDefine SETSPACE_WWW_REDIRECT_PORT80_TO_HTTPS>
<VirtualHost ${SETSPACE_WWW_APACHE2_SERVER_NAME}:80>
        ServerName ${SETSPACE_WWW_APACHE2_SERVER_NAME}
        Redirect permanent / https://${SETSPACE_WWW_APACHE2_SERVER_NAME}
</VirtualHost>
</IfDefine>
<VirtualHost ${SETSPACE_WWW_APACHE2_SERVER_NAME}:${SETSPACE_WWW_APACHE2_SERVER_PORT}>
	LogLevel warn
        ServerName ${SETSPACE_WWW_APACHE2_SERVER_NAME}
        ServerAlias setspace.com
	SetEnv SETSPACE_WWW_ROOT ${SETSPACE_WWW_ROOT}
	SetEnv SERVER_ROOT ${SETSPACE_WWW_VHOST_ROOT}

	SetEnv PATH ${SETSPACE_WWW_PATH}

	DocumentRoot "${SETSPACE_WWW_VHOST_ROOT}/htdocs"

	CustomLog ${APACHE_LOG_DIR}/${SETSPACE_WWW_APACHE2_SERVER_NAME}-access.log common
	ErrorLog ${APACHE_LOG_DIR}/${SETSPACE_WWW_APACHE2_SERVER_NAME}-error.log

	<Directory />
            AllowOverride all
            Require all granted
        </Directory>

	<Directory "${SETSPACE_WWW_VHOST_ROOT}/">
		Options Indexes FollowSymLinks
		AllowOverride None
		Require all granted
	</Directory>

	DirectoryIndex index.html
	UserDir public_html

	SSLEngine on
	SSLCertificateFile /etc/letsencrypt/live/setspace.com/fullchain.pem
	SSLCertificateKeyFile /etc/letsencrypt/live/setspace.com/privkey.pem

</VirtualHost>
