#
#  Synopsis:
#	Profile for typical pgtexts server
#  Usage:
#	. $SCHEMA_ROOT/etc/profile
#  Blame:
#  	jmscott@setspace.com
#  Note:
#	Contemplate replacing env variable SCHEMA_ROOT with SETSPACE_SCHEMA
#
SCHEMA_ROOT=$SETSPACE_ROOT/schema/pgtexts
export TMPDIR=$SCHEMA_ROOT/tmp

export PGTEXTS_ROOT=${PGTEXTS_ROOT:=$SCHEMA_ROOT}

#  create the spool file so tail doesn't abort.
touch $SCHEMA_ROOT/spool/pdfbox.brr
chmod u=rw,g=w,o= $SCHEMA_ROOT/spool/pdfbox.brr

PATH=$SCHEMA_ROOT/sbin:$SCHEMA_ROOT/bin:$PATH
