#
#  Synopsis:
#	Populate th expat2 postgresql database schema
#  See:
#	schema/expat2/schema.sql
#

boot
{
	brr_capacity = 256;
	flow_worker_count = 16;
	os_exec_worker_count = 12;
	os_exec_capacity = 12;

	xdr_roll_duration = "24h";
	fdr_roll_duration = "24h";
	qdr_roll_duration = "24h";

	heartbeat_duration = "10s";
}

tail brr
{
	path = "spool/prefixio.brr";
}

sql database setspace
{
	driver_name = "postgres";
	data_source_name =
		"fallback_application_name=expat2.flow sslmode=disable";
	max_idle_conns = 0;
	max_open_conns = 4;
}

sql query is_in_xmlwf_utf8_table row
{
	statement = `

	SELECT EXISTS (
	  SELECT
	  	blob
	    FROM
	    	expat2.xmlwf_utf8
	    WHERE
	    	blob = $1::udig
	),
	(SELECT
		stdout
	  FROM
	    	expat2.xmlwf_utf8
	  WHERE
	    	blob = $1::udig
		AND
		length(stdout) > 0
	)
	`;

	result row is (
		answer bool,
		is_xml bool
	);
}

query is_in_xmlwf_utf8_table(brr.udig);

command merge_xmlwf_utf8
{
	path = "sbin/merge-xmlwf_utf8";
	exit_status is OK when in {
		0,			#  is valid xml
		1,			#  is not valid xml
		2			#  blob does not exist
	};
}

call merge_xmlwf_utf8(brr.udig)
  when
  	is_in_xmlwf_utf8_table.answer == false
;

command append_libxml2_brr
{
	path = "append-brr";
	argv = (
		"../libxml2/spool/expat2.brr"
	);
}

call append_libxml2_brr(
	brr.start_time,
	brr.transport,
	brr.verb,
	brr.udig,
	brr.chat_history,
	brr.blob_size,
	brr.wall_duration
) when
	is_in_xmlwf_utf8_table.is_xml == true
	or
	merge_xmlwf_utf8.exit_status == 0
;
