<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.setspace.schema.setspace.flowd</string>

  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>EnvironmentVariables</key>
  <dict>
  	<key>PATH</key>
	<string>/Users/jmscott/opt/setspace/schema/setspace/sbin:/Users/jmscott/opt/setspace/sbin:/Users/jmscott/opt/setspace/bin:/Users/jmscott/opt/blobio/bin:/Users/jmscott/opt/pgsql/bin:/Users/jmscott/opt/bin:/opt/local/bin:/usr/bin:/bin</string>

	<key>SETSPACE_ROOT</key>
	<string>/Users/jmscott/opt/setspace</string>

	<key>BLOBIO_ROOT</key>
	<string>/Users/jmscott/opt/blobio</string>

	<key>BLOBIO_ALGORITHM</key>
	<string>bc160</string>

	<key>BLOBIO_SERVICE</key>
	<string>bio4:127.0.0.1:1797</string>

	<key>BLOBIO_GET_SERVICE</key>
	<string>fs:/Users/jmscott/opt/blobio</string>

	<key>PGHOST</key>
	<string>/tmp</string>

	<key>PGPORT</key>
	<string>5432</string>

	<key>PGUSER</key>
	<string>jmscott</string>

	<key>PGPASSWORD</key>
	<string></string>

	<key>PGDATABASE</key>
	<string>setspace</string>
  </dict>

  <key>ProgramArguments</key>
  <array>
	<string>/Users/jmscott/sbin/launchd-log</string>
	<string>flowd</string>
	<!-- Note:
		ps-title hack must first argument in order to change what
		appears in the process table.
	-->
	<string>server</string>
	<string>etc/setspace.flow</string>
  </array>

  <key>Disabled</key>
  <false/>

  <key>UserName</key>
  <string>jmscott</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/Users/jmscott/opt/setspace/schema/setspace</string>

  <key>StandardErrorPath</key>
  <string>/Users/jmscott/opt/setspace/log/launchd-setspace-flowd.log</string>

  <key>StandardOutPath</key>
  <string>/Users/jmscott/opt/setspace/log/launchd-setspace-flowd.log</string>

</dict>
</plist>
