#
#  Synopsis:
#	Profile for typical setspace flowd server
#  Usage:
#	. $SETSPACE_ROOT/etc/profile
#  Blame:
#  	jmscott@setspace.com
#  	setspace@gmail.com
#
SCHEMA_ROOT=$SETSPACE_ROOT/schema/setspace
cd $SCHEMA_ROOT || exit

test ! -x tmp && mkdir -p tmp && test $? != 0 && exit 1
TMDIR=$SCHEMA_ROOT/tmp

touch $SCHEMA_ROOT/spool/biod.brr

PATH=$SCHEMA_ROOT/sbin:$SCHEMA_ROOT/bin:$PATH
