<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple/DTD PLIST 1.0/EN" "http:/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>setspace.schema.setcore.flowd</string>

  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>EnvironmentVariables</key>
  <dict>
  	<key>PATH</key>
	<string>/usr/local/setspace/schema/setcore/sbin:/usr/local/setspace/sbin:/usr/local/setspace/bin:/usr/local/blobio/bin:/usr/local/pgsql/bin:/usr/local/bin:/opt/local/bin:/usr/bin:/bin</string>

	<key>SETSPACE_ROOT</key>
	<string>/usr/local/setspace</string>

	<key>BLOBIO_ROOT</key>
	<string>/usr/local/blobio</string>

	<key>BLOBIO_ALGORITHM</key>
	<string>bc160</string>

	<key>BLOBIO_SERVICE</key>
	<string>bio4:127.0.0.1:1797</string>

	<key>BLOBIO_GET_SERVICE</key>
	<string>fs:/usr/local/blobio</string>

	<key>PGHOST</key>
	<string>/tmp</string>

	<key>PGPORT</key>
	<string>5432</string>

	<key>PGUSER</key>
	<string>postgres</string>

	<key>PGPASSWORD</key>
	<string></string>

	<key>PGDATABASE</key>
	<string>setspace</string>
  </dict>

  <key>ProgramArguments</key>
  <array>
	<string>/usr/local/jmscott/sbin/launchd-log</string>
	<string>flowd</string>
	<!-- Note:
		ps-title hack must first argument in order to change what
		appears in the process table.
	-->
	<string>server</string>
	<string>etc/setcore.flow</string>
  </array>

  <key>Disabled</key>
  <false/>

  <key>UserName</key>
  <string>setspace</string>

  <key>GroupName</key>
  <string>staff</string>

  <key>WorkingDirectory</key>
  <string>/usr/local/setspace/schema/setcore</string>

  <key>StandardErrorPath</key>
  <string>/usr/local/setspace/schema/setcore/log/launchd-flowd.log</string>

  <key>StandardOutPath</key>
  <string>/usr/local/setspace/schema/setcore/log/launchd-flowd.log</string>

</dict>
</plist>
