#
#  Synopsis:
#	Profile for typical pdfbox server
#  Usage:
#	. $SETSPACE_ROOT/schema/pdfbox/etc/profile
#

export SETSPACE_SCHEMA_ROOT=$SETSPACE_ROOT/schema/pdfbox
export TMPDIR=$SETSPACE_SCHEMA_ROOT/tmp

#  create the spool file so tail doesn't abort.
#  Note: got to be a better way. perhaps flowd.tail ought to create the file.
_BRR=$SETSPACE_SCHEMA_ROOT/spool/prefixio.brr
touch $_BRR
chmod u=rw,g=w,o= $_BRR

PATH=$SETSPACE_SCHEMA_ROOT/sbin:$SETSPACE_SCHEMA_ROOT/bin:$PATH
PATH=$SETSPACE_ROOT/schema/setops/sbin:$PATH

export PDFBOX_APP_JAR=${PDFBOX_APP_JAR:=/usr/local/lib/pdfbox-app-2.jar}
export CLASSPATH=$SETSPACE_SCHEMA_ROOT/lib:$PDFBOX_APP_JAR:$CLASSPATH
